[submodule "deps/ldbc_finbench_driver"]
	path = deps/ldbc_finbench_driver
	url = https://github.com/ldbc/ldbc_finbench_driver.git
[submodule "deps/ldbc_finbench_transaction_impls"]
	path = deps/ldbc_finbench_transaction_impls
	url = https://github.com/TuGraph-family/ldbc_finbench_transaction_impls.git
