body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 80vw;
  /* 宽度为视口宽度的80% */
  max-width: 1200px;
  /* 最大宽度，保证在大屏幕上内容不会过宽 */
  min-width: 810px;
  margin: 0 auto;
  height: 100%;
}


img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 5vh;
  /* 根据视口高度动态调整 */
}

p {
  font-size: 2vh;
}